body {
    background-color: palevioletred;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-family: sans-serif;
    background-color: rgb(208, 197, 211);
    margin: 60px;
}

ul {
    margin: 60px;
    background-color: white;
    color: rgb(18, 153, 36);
    font-family: sans-serif;
}